.bandera-telefono-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.telefono-texto {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #036bfc;
}
.button-carrito {
    background: none;
    border: 1px solid #1A98AB;
    border-radius: 6px;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
}

.button-carrito:hover {
    background-color: #D6F2F6;
}

