.footer-personas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 5px 0;
}

.persona-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 0.1em;
}

.persona-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5px;
  border: 2px solid #22b2ff;
}